section.puzzle-board {
  display: flex;
  justify-content: center;
  gap: 10px;
  .puzzle-piece {
    border: 2px solid black;
    display: flex;
    img.normal {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    &:hover {
      img {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }
      cursor: pointer;
    }
  }
}

.puzzle-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 30px;
    font-weight: 700;
    &.default {
      color: black;
      transition: all 0.3s ease-in-out;
    }
    &.false {
      color: #a34637;
    }
    &.correct {
      color: #4bc25b;
    }
  }
  .difficulties {
    margin-bottom: 20px;
    h2 {
      text-align: center;
    }
    .button-group {
      display: flex;
      gap: 20px;
      button {
        background-color: transparent;
        border: 2px solid #5b4bc2;
        color: #5b4bc2;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.35s ease-out;
        width: 200px;
        &:hover {
          background-color: #5b4bc2;
          color: white;
          transition: all 0.35s ease-out;
          cursor: pointer;
        }
      }
    }
  }
  button.reset {
    background-color: transparent;
    border: 2px solid #cf7e71;
    color: #c25b4b;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.35s ease-out;
    &:hover {
      background-color: #a34637;
      color: white;
      transition: all 0.35s ease-out;
      cursor: pointer;
    }
  }
}
